<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.data.translations-binefar['contactUsTitle'][page.language] }}</h2>
                <h3 class="section-subheading text-muted">{{ site.data.translations-binefar['contactUsSubtitle'][page.language] }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <div id="success"></div>
                <a href="https://stopmacromataderobinefar.blogspot.com">
                    <i class="fa fa-rss fa-5x"></i>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <div id="success"></div>
                <a href="https://www.instagram.com/stopmacromataderob/">
                    <i class="fa fa-instagram fa-5x"></i>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <div id="success"></div>
                <a href="https://www.facebook.com/StopMacromataderodeBinefar/">
                    <i class="fa fa-facebook fa-5x"></i>
                </a>
            </div>
        </div>
    </div>
</section>