<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.data.translations-zafra['manifestoTitle'][page.language] }}</h2>
                <h3 class="section-subheading text-muted">
                    {{ site.data.translations-zafra['manifestoSubtitle'][page.language] }}</h3>
            </div>
        </div>
        <style>
            div.row p,
            div.row li {
                font-family: Montserrat;
                font-size: 16pt
            }
        </style>
        <div class="row">
            {% if page.language == 'es' %}
            {% capture es %}{% include zafra/manifestos/es.md %}{% endcapture %}
            {{ es | markdownify }}
            {% endif %}
            {% if page.language == 'en' %}
            {% capture en %}{% include zafra/manifestos/en.md %}{% endcapture %}
            {{ en | markdownify }}
            {% endif %}
            {% if page.language == 'de' %}
            {% capture de %}{% include zafra/manifestos/de.md %}{% endcapture %}
            {{ de | markdownify }}
            {% endif %}
            {% if page.language == 'it' %}
            {% capture it %}{% include zafra/manifestos/it.md %}{% endcapture %}
            {{ it | markdownify }}
            {% endif %}
            {% if page.language == 'fr' %}
            {% capture fr %}{% include zafra/manifestos/fr.md %}{% endcapture %}
            {{ fr | markdownify }}
            {% endif %}
            {% if page.language == 'ru' %}
            {% capture ru %}{% include zafra/manifestos/ru.md %}{% endcapture %}
            {{ ru | markdownify }}
            {% endif %}
            {% if page.language == 'jp' %}
            {% capture jp %}{% include zafra/manifestos/jp.md %}{% endcapture %}
            {{ jp | markdownify }}
            {% endif %}
        </div>
        <br>
        <div class="text-center"><a href="http://chng.it/gvvFXGK7"
                class="page-scroll btn btn-xl">{{ site.data.translations-zafra['sign'][page.language] }}</a></div>
</section>