<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Causas</h2>
                <h3 class="section-subheading text-muted">Campañas activas contra macromataderos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="/zafra/es" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/img/causas/zafra.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Zafra</h4>
                    <p class="text-muted">Macromatadero en fase de planificacion. </br> Mataría 1.500 cerdos al día.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/img/causas/binefar.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Binéfar</h4>
                    <p class="text-muted">Macromatadero construido y operando desde Julio de 2019.</br> En fase de pruebas, matando 4.000 cerdos al día de los previstos 32.000 en plena operación.</p>
                </div>
            </div>
        </div>
    </div>
</section>
