<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">
                    Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}
                </span>
            </div>
            <div class="col-md-8 text-right">
                <span class="copyright">
                    code by <a href="https://vikepic.github.io">vikepic</a></h4>
                </span>
            </div>
        </div>
    </div>
</footer>